.add-fields-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e2e8f0;
  border-radius: 999px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.add-fields-container input{
  outline: none;
  border: none;
  background: none;
}
.add-fields-container button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 999px;
}

.add-fields-container button:hover {
  background-color: #f0f0f0;
}
.add-fields-container .divider {
    width: 1px;
    height: 20px;
    background-color: #e2e8f0;
    margin: 0 24px;
    flex-shrink: 0;
  }